@import 'tailwindcss';

:root {
  /* Fill */
  --background: #ffffff;
  --foreground: #171717;
  --button-primary: #1d5360;
  --green-800: #131f25;
  --green-900: #0a1619;
  --green-950: #070707;
  --global-header: rgb(32, 58, 52, 0.2);

  /* Typography */
  --typography-active: #effcff;
  --typography-secondary: #839390;

  /* Borders */
  --stroke-main: #131f25;
  --icon-main: #4d6d6d;

  /* Brands */
  --brand-color: #4eb8d2;

  /* Absolute */
  --white-100: #ffffff;
  --black-100: #000000;

  /* Gradients */
  --gradient-custom-dark: linear-gradient(
    247.74deg,
    #021514 0.02%,
    #040b0b 21.79%,
    #040b0b 74.47%,
    #021514 99.98%
  );
  --background-gradient: linear-gradient(
    to right,
    rgb(4, 11, 11) 80%,
    rgb(2, 21, 20) 90%
  );
  --solana-gradient: linear-gradient(45deg, #9945ff, #14f195);
  --first-gradient: linear-gradient(
    to right,
    #8b5499,
    #66b8b9,
    #b1d877,
    #ffcd8c
  );
  --second-gradient: radial-gradient(
    circle,
    rgba(19, 44, 50, 1) 0%,
    rgba(0, 1, 1, 1) 70%
  );
  --light-fill-gradient: radial-gradient(
    circle,
    rgba(70, 229, 226, 1) 0%,
    rgba(70, 229, 226, 0) 80%
  );
  --user-avatar-gradient: linear-gradient(135deg, #02f553, #00beec);
}

@theme inline {
  --background-gradient: var(--background-gradient);
  --light-fill-gradient: var(--light-fill-gradient);
  --solana-gradient: var(--solana-gradient);
  --first-gradient: var(--first-gradient);
  --second-gradient: var(--second-gradient);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --gradient-custom-dark: var(--gradient-custom-dark);
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background-color: black;
  background-image: var(--gradient-custom-dark);
  font-family: var(--font-ibm-plex-sans), sans-serif;
  font-family: var(--font-ibm-plex-sans), sans-serif;
}
